# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea
/bin
.vscode
Testing.java
out
__pycache__
logs.log
.env
.DS_Store
iteration1/.DS_Store
iteration2/.DS_Store
iteration3/.DS_Store
iteration3/src/.DS_Store
